body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f8f9fa;
  padding: 2px 5px;
  border-radius: 3px;
}

